{% include 'Map3CoreBundle::flashes.html.twig' %}

<form id="formPanel" novalidate="novalidate" class="form-horizontal well" method="post">

    {{ form_errors(form.stepsResults) }}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Steps</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
{% for result in form.stepsResults %}
            <tr>
                <td>Given step1 definition XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    XXXXXXXXXXXXXXXXXXXXXX
                    XXXXXXXXXXXXXXXXXXXXXXXXXX
                    XXXXXxx</td>
                <td>{{ form_errors(result) }}{{ form_widget(result) }}</td>
            </tr>
{% else %}
            <tr><td colspan="2">No step</td></tr>
{% endfor %}
    </tbody>
</table>
    {{ form_row(form.testDatetime) }}
    {{ form_row(form.tester) }}
    {{ form_row(form.comment) }}

    <div class="center">
        <a class="btn btn-sm btn-cust" onclick="formSubmit();" title="Save">
            {{ icon('ok', true) }}&nbsp;&nbsp;Save&nbsp;&nbsp;
        </a>
    </div>
</form>

<script>
function formSubmit() {
    $.post('{{ path('bln-tes_edit', {'id': test.id}) }}', $("#formPanel").serialize(), function (resp) {
        $("div.node-panel").hide();
        $("div.node-panel").html(resp).show();
    }).fail(function(jqXHR, textStatus, errorThrown) {

        displayError(jqXHR.responseJSON, jqXHR.status);
        $("div.node-panel").hide();
    });
}
</script>
