{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - User view - Id : {{ user.id }}{% endblock title %}

{% block headline %}{{ breadcrumb(['Admin', 'View user']) }}{% endblock headline %}

{% block content %}
<div class="row-fluid">
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Main</a></li>
    <li><a href="{{ path('user_view-role', {'id': user.id}) }}">Roles</a></li>
</ul>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal well">

            {{ form_widget(form) }}

        </form>
    </div>
</div>
<div class="row-fluid">
<a class="btn btn-default btn-sm" href="{{ path('user_index') }}"
   title="Return to list">
    {{ icon('chevron-left') }} Return to list
</a>
<a class="btn btn-default btn-sm"
   href="{{ path('user_edit', {'id': user.id}) }}" title="Edit">
    {{ icon('edit') }} Edit
</a>
</div>
{% endblock content %}
