{% extends 'Map3CoreBundle::layoutDatetimepickerjs.html.twig' %}

{% block title %}{{ parent() }} - Baseline add{% endblock title %}

{% block headline %}{{ release_breadcrumb('Add baseline') }}{% endblock headline %}

{% block content %}
<div class="row-fluid">
    {{ render(controller("Map3ReleaseBundle:Release:tabs", {'activeTab' : 'baselines'})) }}
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        {% include "Map3CoreBundle::form.html.twig" %}

    </div>
</div>
<div class="row-fluid">
    <a class="btn btn-default btn-sm" href="{{ path('rls-baseline_index', {'id': release.id}) }}"
       title="Return to release">
        {{ icon('chevron-left') }} Return to release
    </a>
</div>
{% endblock content %}
