{% extends 'Map3CoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Product view - Id : {{ product.id }}{% endblock title %}

{% block headline %}{{ product_breadcrumb('View') }}{% endblock headline %}

{% block content %}
<div class="row-fluid">
    {% include "Map3ProductBundle:Product:tabs.html.twig" with {'activeTab' : 'main'} %}
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal well">

            {{ form_widget(form) }}

        </form>
    </div>
</div>
<div class="row-fluid">
<a class="btn btn-default btn-sm" href="{{ path('product_index') }}"
   title="Return to list">
    {{ icon('chevron-left') }} Return to list
</a>
{% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DM_MANAGER')) %}
    <a class="btn btn-default btn-sm"
       href="{{ path('product_edit', {'id': product.id}) }}" title="Edit">
        {{ icon('edit') }} Edit
    </a>
{% endif %}
</div>
{% endblock content %}
