{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Resetting password - Step 2{% endblock title %}

{% block headline %}{{ breadcrumb([['My Agile Project', path('fos_user_security_login')], 'Resetting password', 'Step 2']) }}{% endblock headline %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

<form class="form-horizontal well" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="post">

    {{ form_widget(form) }}

    <div class="center">
        <button type="submit" id="change" class="btn btn-sm btn-info" title="Change">
            {{ icon('ok', true) }}
            &nbsp;&nbsp;{{ 'resetting.reset.submit'|trans }}&nbsp;&nbsp;
        </button>
    </div>
</form>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
